/* Target the entire scrollbar */
::-webkit-scrollbar {
  /* width: 8px; width of vertical scrollbar
  height: 8px; height of horizontal scrollbar */
  display: none;
}

/* Track (the background area) */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1; color of the scrollbar track
  border-radius: 8px;
} */

/* Handle (the draggable thumb) */
/* ::-webkit-scrollbar-thumb {
  background: #888; color of the scrollbar thumb
  border-radius: 8px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
